@import "nav.css";
@import "welcome.css";
@import "particles.css";
@import "about.css";
@import "project.css";
@import "contact.css";
@import "footer.css";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

:root {
    --color-white: #f6fafe;
    --color-lightblue0: #e9f1fA; /*#f2fff2*/
    --color-lightblue1: #45567d;
    --color-gray: #303841;
    --color-blue: #00abe4;
    --color-darkblue: #002233;
    --color-text: black;
    --color-specialtext: #777;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-margin-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

body {
    overflow-x: hidden;
    font-family: 'Playfair Display';
}

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
}

.hidden-top {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(-50%); 
}

.hidden-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 1s;
}

.hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(50%);
    transition: all 1s;
}

.hidden-bottom {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}