/* PROJECT */
.project {
    height: 150vh;
    width: 100vw;
    background: var(--color-lightblue1); /*linear-gradient(180deg, var(--color-white) 10%, var(--color-lightblue0));*/
    position: relative;
    padding: 10vh 12vw;
    color: #fff;
}


.project-header {
    font-size: 50px;
}

.project-container{
    margin-top: 100px;
    display: grid;
    grid-template-rows: repeat(1fr, 2);
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 200px;
    grid-column-gap: 100px;
}

.project-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 8px 2px black;
}

.project-text-container:nth-child(odd) {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}  

.project-text {
    font-family: 'Nunito Sans', sans-serif;
    width: 80%;
}

.project-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: 2px double var(--color-blue);
}

.project-text p {
    font-size: 1.1rem;
    margin-bottom: 25px;
}

.project-text ul {
    display: flex;
    list-style: none;
    margin-bottom: 25px;
}

.project-text ul li {
    margin-right: 10px;
    fill: var(--color-blue);
}

.project-text h3 {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.project-links {
    color: var(--color-blue);
}

.project-text a {
    text-decoration: none;
    color: white;
    transition: border-bottom 0.15s;
}

.project-text a:hover{
    border-bottom: 2px var(--color-blue) double;
}
